@media (max-width: 768px) {
  header {
    
    align-items: center;
  }

  nav {
   display: none;
  }
#media-nav{
  display: contents;
}
  #nav-list ul {
    flex-direction: column;
    gap: 1rem;
  }

  #hero h1 {
    font-size: 2rem;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
 #contac{
  width:100%;
 }
  #contact form,
  #contact input {
    width: 100%;
  }
}